*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 24px;
}

.nav-links a {
    text-decoration: none;
    color: #575757;
    font-size: 16px;
    transition: .3s;
}

.nav-links a:hover {
    color: #1D4ED8;
}

.btn-register {
    display: inline-block;
    padding: 14px 32px;
    background: #1D4ED8;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    border-radius: 10px;
    transition: .3s;
}

.btn-register:hover {
    background: #1742b8;
}


.hero_container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.99), rgba(0, 0, 0, 0)), url(./assets/banner.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    padding: 150px 0 100px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.hero_container h1 {
    font-size: 80px;
    font-weight: 700;
}

.hero_container p {
    font-size: 22px;
    text-align: center;
    margin: 45px 0 300px 0;
}

.hero_container a.btn-register {
    padding: 20px 60px;
    font-size: 24px;
    font-weight: 700;
}

.card_container {
    width: 80%;
    margin: 0 auto;
}

.card_container h1 {
    text-align: center;
    margin: 90px 0 70px 0;
    color: #000102;
    font-size: 56px;
    font-weight: 700;
}

.cards_grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 35px;
}

.card {
    width: 100%;
    border: 1px solid #57575734;
    border-radius: 10px;
}

.card img {
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.details {
    padding: 30px 0 30px 30px;
}

.details h3 {
    margin: 10px 0;
}

p.department {
    color: #2563EB;
    font-size: 12px;
    font-weight: 500;
}

.details h3 {
    font-size: 20px;
    color: #0D1B2A;
}

p {

    color: #575757;
}


.all_pricing_cards {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.pricing_container>h1,
.pricing_container>p {
    text-align: center;
    color: #575757;
    font-size: 16px;
}

.pricing_container>h1 {
    color: #0D1B2A;
    font-size: 48px;
    font-weight: 700;
    margin-top: 150px;


}

.pricing_container>p {
    margin-bottom: 50px;
    margin-top: 20px;
}

.pricing_card {
    border: 1px solid #57575734;
    padding: 30px 40PX;
    border-radius: 10px;
    width: 375px;
    height: auto;
}

.pricing_card h6 {
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    color: #888888;

}

.pricing_card h1 {
    font-size: 44px;
    font-weight: 700;
    margin: 5px 0;
}

.pricing_card p {
    font-size: 13px;
    color: #888888;
}


ul.pricing_features {
    border-top: 1px solid #57575734;
    padding: 20px 0;

    margin-top: 20px;
    line-height: 30px;

    color: #333333;
    font-size: 14px;
}

ul.pricing_features>li::marker {
    color: #1D4ED8;
}

.btn-outline {
    color: #2563EB;
    font-size: 14px;
    font-weight: 500;
    border: 1px solid #1D4ED8;
    padding: 13px 0;
    text-decoration: none;
    display: block;
    text-align: center;
    border-radius: 10px;

}

.pro_pricing,
.pro_pricing h1,
.pro_pricing h6,
.pro_pricing p,
.pro_pricing li,
.pro_pricing a {
    color: #fff;
}

.pro_pricing {
    background: #0D1B2A;
}

.pro_pricing .btn-outline {
    background: #2563EB;
}

.pro_pricing>h6 {
    color: #93C5FD;
}

footer {
    background: #0D1B2A;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px 0;
    margin-top: 80px;
}

ul.footer_terms {
    display: flex;
    align-items: center;
}

ul.footer_terms li {
    color: #d6d3d364;
    list-style: none;
    padding: 0 20px;
}